<div class="col-lg-6">
	<legend>
		<i style="display: inline-block; margin-right: 10px; align: center;"
			class="glyphicon glyphicon-phone"></i>
		<h4
			style="font-size: 1.2em; display: inline-block; font-family: 'Alegreya Sans SC', sans-serif;; font-weight: 800;">Your Products</h4>
	</legend>
</div>
<div class="col-lg-8">
   <table class="table">
   		<tbody  class="table-header">
   			<tr>
   			    <td></td>
   				<td>Product Title</td>
   				<td>Brand</td>
   				<td>Price</td>
   				<td>Discounted Price</td>
   				<td>Quantity</td>
   			</tr>
   		</tbody>
   		<tbody class="table-body">	
   			<tr>
   			    <td><img class="media-object" data-src="" alt="" style="width: 64px; height: 64px;" src=""></td>
   				<td><a href="">Samsung Galaxy S4</a></td>
   				<td>Samsung</td>
   				<td>25980</td>
   				<td style="color: red;">23420</td>
   				<td>5</td>
   			</tr>
   			<tr>
                <td><img class="media-object" data-src="" alt="" style="width: 64px; height: 64px;" src=""></td>
   				<td><a href="">Apple iPad Air</a></td>
   				<td>Apple</td>
   				<td>35490</td>
   				<td style="color: red;">32450</td>
   				<td>12</td>
   			</tr>
   			<tr>
   			    <td><img class="media-object" data-src="" alt="" style="width: 64px; height: 64px;" src=""></td>
   				<td><a href="">Nokia Asha</a></td>
   				<td>Nokia</td>
   				<td>2340</td>
   				<td style="color: red;">2240</td>
   				<td>20</td>
   			</tr>
   	    </tbody>
   </table>
</div>